/*===========================
	Project:	Tregubov CSS
	Version:	1.0

	[Table of contents]

	01. Variables
	02. Reset Styles
	03. Layout
	04. Typography
	05. Preloader
	06. Animations


	04. Header
	05. Navigation
	06. Mobile Menu
	07. Light Navigation
	08. Swiper Sliders
	09. Parallax Portfolio
	10. Text Links
	11. Scroll Down Line
	12. Portfolio Grid
	13. Masonry Cards
	14. Hover List
	15. CTA
	16. Entrance
	17. Page Title
	18. Justified Gallery
	19. Portfolio With Background Blur
	20. Photo Gallery
	21. Blog

===========================*/
/* Temporary
===========================*/
/* Variables
===========================*/
/* Reset Styles
===========================*/
html,
body,
ul,
ol {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* Layout
===========================*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex.center {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body {
  background-color: #f1f5f8;
  color: #102a42;
  font-family: "Eina03", sans-serif;
}

section.fullscreen {
  height: 100%;
  width: 100%;
}

section.hidden {
  display: none;
}

/* Typography
===========================*/
@font-face {
  font-family: "Astronout";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Astronout.ttf") format("truetype");
}

@font-face {
  font-family: "Eina03";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Eina03-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Eina03";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Eina03-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Eina03";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Eina03-RegularItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Eina03";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Eina03-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Eina03";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/Eina03-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Eina03";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Eina03-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Eina03";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/Eina03-BoldItalic.ttf") format("truetype");
}

/* Preloader
===========================*/
.preloader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f1f5f8;
  z-index: 1;
}

.preloader-wrapper::after {
  content: "";
  width: 50px;
  height: 50px;
  position: fixed;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  border-radius: 50%;
  border: 1.5px solid #27aa83;
  border-right-color: #f1f5f8;
  -webkit-animation: rotate-center 1s ease-in-out infinite both;
  animation: rotate-center 1s ease-in-out infinite both;
  z-index: 100000;
}

.preloader-wrapper img {
  position: absolute;
}

/* Animations
===========================*/
/* ----------------------------------------------
 * Generated by Animista on 2018-12-11 21:5:24
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */