/*===========================
	Project:	Tregubov CSS
	Version:	1.0

	[Table of contents]

	01. Variables
	02. Reset Styles
  03. Layout
  04. Navigation Bar
  04. Footer
	04. Typography
	05. Preloader
  06. Animations
  07. Buttons


	04. Header
	05. Navigation
	06. Mobile Menu
	07. Light Navigation
	08. Swiper Sliders
	09. Parallax Portfolio
	10. Text Links
	11. Scroll Down Line
	12. Portfolio Grid
	13. Masonry Cards
	14. Hover List
	15. CTA
	16. Entrance
	17. Page Title
	18. Justified Gallery
	19. Portfolio With Background Blur
	20. Photo Gallery
	21. Blog

===========================*/
/* Variables
===========================*/
/* Temporary
===========================*/
.hidden {
  display: none !important;
}

#playerAmount,
#playerBalance {
  font-weight: bold;
}

#draggableBill {
  position: relative;
  height: 135px;
  width: 300px;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

#draggableBill[value="5"] {
  background-image: url("../img/Bill5.png");
}

#draggableBill[value="10"] {
  background-image: url("../img/Bill10.png");
}

#draggableBill[value="20"] {
  background-image: url("../img/Bill20.png");
}

#draggableBill[value="50"] {
  background-image: url("../img/Bill50.png");
}

#draggableBill[value="100"] {
  background-image: url("../img/Bill100.png");
}

.bank {
  display: inline-block;
  height: 145px;
  width: 310px;
  margin: 10px;
  border: solid 3px #27aa83;
  background-color: #243a52;
  border-radius: 0.25em;
}

.bank#dropTarget {
  background-image: url("../img/Bank.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.hovered {
  background-color: #48647f !important;
  border-style: dashed;
}

.horse {
  height: 60.75px;
  width: 82.5px;
  background-image: url(../img/smcaballoNegro.png);
  background-position: 0px -60.75px;
}

.horse.winner {
  background-color: #27aa83;
  border-radius: 5px;
  padding-top: 5px;
}

#race {
  width: 600px;
  height: 375px;
  background-color: #243a52;
  border-radius: 10px;
}

#race .horse {
  margin-left: 0;
}

/* Reset Styles
===========================*/
html,
body,
ul,
ol {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.selector {
  text-align: center;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selector #horseBetSelector {
  display: inline;
}

@media (max-width: 1415px) {
  .selector #horseBetSelector {
    display: block;
  }
}

.selectWrapper {
  display: inline;
  position: relative;
}

.selectWrapper ul {
  background-color: #243a52;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: left;
  position: absolute;
  padding: 0 0.2em 0.3em 0.2em;
  margin: 0 -0.2em -0.3em -0.2em;
  top: 0;
  left: 0;
  display: none;
  border-radius: 5px;
  z-index: 99;
}

.selectWrapper ul .active {
  display: block;
}

.selectWrapper li {
  width: auto;
  list-style: none;
}

.selectWrapper li:first-child a {
  color: #0c6a57;
}

.selectWrapper li:first-child a::after {
  background: #199473;
}

.selectWrapper li:first-child a:hover {
  color: #199473;
}

.selectWrapper li:first-child a:hover::after {
  background: #199473;
}

.selectWrapper li:hover a {
  cursor: pointer;
  color: #66d6ad;
}

.selectWrapper li:hover a::after {
  width: 100%;
}

.selectWrapper a {
  text-decoration: none;
  -webkit-transition: all .4s;
  transition: all .4s;
  color: #27aa83;
  position: relative;
}

.selectWrapper a:after {
  position: absolute;
  content: '';
  height: 5px;
  width: 0;
  left: 0;
  background: #5ddab5;
  bottom: 0;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.placeholder {
  border-bottom: 4px solid;
  cursor: pointer;
}

.placeholder:hover {
  color: #66d6ad;
}

/* Layout
===========================*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex.center {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body {
  background-color: #102a42;
  color: #9eb2c7;
  font-family: "Eina03", sans-serif;
}

section {
  height: 95vh;
}

section.fullscreen {
  height: 100vh;
}

section.hasFooter {
  height: 90vh;
}

section * {
  width: 55vw;
}

section *.button, section *.inputBox {
  width: 25vw;
}

section .buttonWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 0px;
}

section .buttonWrapper * {
  margin: 0 1vw 0 1vw;
}

/* Navigation Bar
===========================*/
nav {
  height: 5vh;
  padding: 0 2vw;
  background-color: #243a52;
  font-size: 1.1em;
  -webkit-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav ul {
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  margin-right: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li::before {
  content: '';
  height: 3vh;
  margin-right: 2vw;
  margin: auto 2vw auto 0;
  border-left: 1px solid #48647f;
}

nav ul li:first-child::before {
  display: none;
}

nav ul li.right {
  margin-left: auto;
  margin-right: 0;
  opacity: 0;
}

nav ul li.right::before {
  display: none;
}

nav ul li a {
  cursor: pointer;
  padding: inherit;
  margin: auto;
}

nav ul li a:hover {
  color: #27aa83;
}

nav ul li a:active {
  color: #199473;
}

nav ul li a.disabled:hover {
  cursor: not-allowed;
  color: inherit;
}

/* Footer
===========================*/
footer {
  height: 5vh;
  padding: 0 2vw;
  font-size: 0.8em;
  background-color: #243a52;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

footer ul {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer ul li {
  margin-right: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer ul li.right {
  opacity: 0;
  margin-left: auto;
  margin-right: 0;
}

footer ul li a,
footer ul li p {
  cursor: pointer;
  padding: inherit;
  margin: auto;
}

footer ul li a:hover,
footer ul li a:active {
  color: #27aa83;
}

/* Typography
===========================*/
@font-face {
  font-family: "Astronout";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Astronout.ttf") format("truetype");
}

@font-face {
  font-family: "Eina03";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Eina03-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Eina03";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Eina03-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Eina03";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Eina03-RegularItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Eina03";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Eina03-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Eina03";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/Eina03-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Eina03";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Eina03-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Eina03";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/Eina03-BoldItalic.ttf") format("truetype");
}

h1 {
  color: #f1f5f8;
  font-size: 2em;
  margin: 0 0 0.5em 0;
}

h1 .button {
  padding: 0.2em 0.5em 0.3em 0.5em;
  margin-bottom: 0.5em;
}

h1 span.special {
  font-weight: 800;
  color: #66d6ad;
}

h2 {
  color: #dae2ec;
  font-weight: 100;
  font-size: 1.15em;
  margin: 0 0 0.5em 0;
}

h2.warning {
  color: #ffc107;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
  -webkit-animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  margin-bottom: 1em;
}

h2.attention {
  color: #d64343;
  font-size: 1.5em;
  font-weight: 600;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
  -webkit-animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.inputBox h5 {
  display: none;
  margin: 1vh 0;
  font-weight: 100;
  color: #ffc107;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
  -webkit-animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

p span.special {
  font-weight: 800;
  color: #66d6ad;
}

/* Preloader
===========================*/
.preloader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #102a42;
  z-index: 1;
}

.preloader-wrapper::after {
  content: "";
  width: 50px;
  height: 50px;
  position: fixed;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  border-radius: 50%;
  border: 1.5px solid #27aa83;
  border-right-color: #102a42;
  -webkit-animation: rotate-center 1s ease-in-out infinite both;
  animation: rotate-center 1s ease-in-out infinite both;
  z-index: 100000;
}

.preloader-wrapper img {
  position: absolute;
}

/* Animations
===========================*/
/* ----------------------------------------------
 * Generated by Animista on 2018-12-11 21:5:24
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes shake {
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-3px, 0, 0);
            transform: translate3d(-3px, 0, 0);
  }
}

@keyframes shake {
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-3px, 0, 0);
            transform: translate3d(-3px, 0, 0);
  }
}

/* Buttons
===========================*/
.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #27aa83;
  border-color: #27aa83;
  color: #f1f5f8;
  border: none;
  padding: 16px 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 8px 0px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #27aa83;
}

.button:hover {
  background-color: #3dbd92;
  border-color: #3dbd92;
  border-radius: 15px;
}

.button:active {
  background-color: #199473;
  border-color: #199473;
  border-radius: 15px;
}

.button.disabled {
  cursor: not-allowed;
  background-color: #243a52;
  border: 2px solid #9eb2c7;
  color: #9eb2c7;
}

.button.disabled:hover {
  border-radius: 10px;
}

.button.secondary {
  background-color: inherit;
  border: 2px solid #9eb2c7;
  color: #9eb2c7;
}

.button.secondary:hover {
  color: #27aa83;
  border-color: #27aa83;
}

.button.secondary:active {
  background-color: #243a52;
}

.button.destructive {
  background-color: #bb2525;
  border-color: #bb2525;
  color: #f1f5f8;
}

.button.destructive:hover {
  background-color: #d64343;
  border-color: #d64343;
}

.button.destructive:active {
  background-color: #a71b1b;
  border-color: #a71b1b;
}

/* Table
===========================*/
table {
  background: #243a52;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
  width: 45vw;
  min-width: 300px;
}

table th {
  border-bottom: 1px solid #324d67;
  color: #3dbd92;
  font-weight: bold;
  padding: 0.5em 1em;
  text-align: left;
}

table td {
  color: #f1f5f8;
  padding: 1.25em 1em;
}

table td .button {
  padding: 0.1em 0.5em 0.3em 0.5em;
}

table tbody tr {
  -webkit-transition: background 0.35s ease;
  transition: background 0.35s ease;
}

table tbody tr td.hasButton {
  width: 15%;
}

table tbody tr:hover {
  background: #147b63;
}

/* Input Box */
.inputBox {
  text-align: left;
  position: relative;
  margin-top: 45px;
  margin: 30px 0 15px 0;
}

.inputBox * {
  width: 100% !important;
}

input {
  background-color: inherit;
  font-size: 18px;
  padding: 10px 0 10px 0;
  display: block;
  width: 100vw;
  border: none;
  border-bottom: 1px solid #fff;
  color: #A0A1AE;
  text-transform: capitalize;
}

input::-webkit-input-placeholder {
  color: transparent;
}

input:-moz-placeholder {
  color: transparent;
}

input::-moz-placeholder {
  color: transparent;
}

input:-ms-input-placeholder {
  color: transparent;
}

input:focus::-webkit-input-placeholder {
  color: #515363;
}

input:focus:-moz-placeholder {
  color: #515363;
}

input:focus::-moz-placeholder {
  color: #515363;
}

input:focus:-ms-input-placeholder {
  color: #515363;
}

input:focus {
  outline: none;
}

label {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #27aa83;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  background: #27aa83;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: #27aa83;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #27aa83;
  }
  to {
    width: 0;
    background: transparent;
  }
}
/*# sourceMappingURL=style.css.map */